@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.page{
  background-color: lightpink;
  min-height: 628px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
}
.header{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 152, 152);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 152, 152);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p{
  margin-left: 8px;
}
span{
  text-decoration: underline;
}
.private-header{
  background-color: lightblue;
  font-size: 35px;
}
.private-page{
  text-align: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin-left: 50px;
}
.private-sidebar{
  background-color: lightblue;
  text-decoration: underline;
}